{% extends "base.html" %}

{% block media %}
{{ block.super }}
{{ form.media }}
{% endblock media %}

{% block content %}

<h2>easily convert EPITA algo pseudo-code to C and run it</h2>

<p style="text-align: center;">
<a href="https://github.com/zehirmahnn/a2c" target="_blank">Source code</a>
</p>

<form action="/" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div id="algo_code">
        <h3>algo code</h3>
        {{ form.algo_code }}
    </div>
    <div id="c_code">
        <h3>C code</h3>
        {{ form.c_code }}
    </div>
    <div style="float: none; clear: both;"></div>
    <p><input type="submit" value="Convert & Run →"></p>
</form>

{% if not conv_debug and not comp_debug %}
<pre id="output">
<strong>algo output</strong><br/>
{{ algo_output }}
</pre>
{% endif %}

{% if conv_debug %}
<pre id="debug">
<strong>conversion debug</strong><br/>
{{ conv_debug }}
</pre>
{% endif %}

{% if comp_debug %}
<pre id="debug">
<strong>compilation debug</strong><br/>
{{ comp_debug }}
</pre>
{% endif %}

{% endblock content %}
